body {
    font-family: 'Baloo Bhaijaan 2', cursive;
    background-color: #2E2C2F;
    text-align: center;
}

section {
    text-align: center;
}

.title {
    font-size: 5em;
    color: #BACDB0;
    margin: 10px auto;
}

canvas {
    border: 2px solid #475B63;
}